<%- include("partials/header")-%>

<h1>About </h1>
<p><%=aboutTxt%></p>

<br>
<h5>To compose the posts go to: <a href='https://young-plains-95874.herokuapp.com/compose'><em>Compose</em></a>

</h5>
<%- include("partials/footer")-%>
